@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model NewsAndCommentsViewModel

<section class="single-post-area">
	<!-- Single Post Title -->
	@if (TempData["MessageSuccess"] != null)
	{
	
			<div class="alert alert-success col-6 offset-3 text-center" role="alert">
				@TempData["MessageSuccess"]
				
			</div>
	}
	else if (TempData["MessageError"] != null)
	{
		<div class="alert alert-danger col-6 offset-3 text-center" role="alert">
			@TempData["MessageError"]

		</div>
	}

	<div class="single-post-title bg-img background-overlay" style="background-image: url(/tema/img/bg-img/1.jpg);">
		<div class="container h-100">
			<div class="row h-100 align-items-end">
				<div class="col-12">
					<div class="single-post-title-content">
						<!-- Post Tag -->
						<div class="gazette-post-tag">
							@Model.NewsDto.News.Category.Name
						</div>
						<h2 class="font-pt">@Model.NewsDto.News.Title</h2>
						<p>@Model.NewsDto.News.CreatedAt.GetValueOrDefault().ToShortDateString()</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="single-post-contents">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-8">
					<div class="single-post-text">				
						<p>@Model.NewsDto.News.SubTitle </p>

					</div>
				</div>
				<div class="col-12">
					<div class="single-post-thumb text-center">
						<img class="img-fluid " src="~/img/news/@Model.NewsDto.News.ImagePath" style="width: 800px; height: 600px;" alt="">
					</div>
				</div>
				<div class="col-12 col-md-8">
					<div class="single-post-text">
						<p>@Model.NewsDto.News.Content </p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<section class="gazette-post-discussion-area section_padding_100 bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-8">
				<!-- Comment Area Start -->
				<div id="comments" class="comment_area section_padding_50 clearfix">
					<div class="gazette-heading">
						<h4 class="font-bold">Discussion</h4>
					</div>

					@if (Model.NewsDto.News.NewsComments.Any())
					{
						<ol>
							@foreach (var item in Model.NewsCommentsList.NewsComments)
							{
								<li class="single_comment_area">
									<div class="comment-wrapper d-md-flex align-items-start">
										<!-- Comment Meta -->
										<div class="comment-author">
											<img src="~/img/user/@item.User.Picture" alt="">
										</div>
										<!-- Comment Content -->
										<div class="comment-content">
											<h5>@item.CreatedByName</h5>
											<span class="comment-date font-pt">@item.CreatedAt.GetValueOrDefault().ToShortDateString()</span>
											<p>@item.Comment</p>
										</div>
									</div>						
								</li>
							}

						</ol>
					}
					else
					{
						<p>No comments yet</p>
					}
				</div>
				@if (SignInManager.IsSignedIn(User))
				{
					
                    	var user = UserManager.FindByNameAsync(SignInManager.Context.User.Identity.Name);
	                    var email = SignInManager.UserManager.GetEmailAsync(user.Result).Result;
	                    Model.NewsComments.Email=email;
                     
					@*<partial name="~/Views/Comment/_CommentAdd.cshtml" model="new NewsCommentAddDto{NewsId=Model.NewsDto.News.Id}"/>*@

					<div class="leave-comment-area clearfix">
						<div class="comment-form">
							<div class="gazette-heading">
								<h4 class="font-bold">leave a comment</h4>
							</div>
							
							<!-- Comment Form -->
							<form asp-action="Detail" asp-controller="News" asp-route-id="@Model.NewsDto.News.Id" id="form-comment-add" method="post">
								<div asp-validation-summary="ModelOnly" class="text-danger" id="validation-summary"></div>


								<input asp-for="@Model.NewsDto.News.Id" type="hidden" />
								<input asp-for="@Model.NewsComments.UserId" type="hidden" />
								<input asp-for="@Model.NewsComments.Email" type="hidden" />
								<div class="form-group">
									<input type="text" class="form-control" asp-for="@Model.NewsComments.Name" placeholder="Enter Your Full Name">
									<span asp-validation-for="@Model.NewsComments.Name" class="text-danger"></span>
								</div>
							@*	<div class="form-group">
									<input type="email" class="form-control" asp-for="@Model.NewsComments.Email" placeholder="Email">
									<span asp-validation-for="@Model.NewsComments.Email" class="text-danger"></span>

								</div>*@
								<div class="form-group">
									<textarea class="form-control" asp-for="@Model.NewsComments.Comment" cols="30" rows="10" placeholder="Message"></textarea>
									<span asp-validation-for="@Model.NewsComments.Comment" class="text-danger"></span>

								</div>
								<button type="submit" id="btnSave" class="btn leave-comment-btn">SUBMIT <i class="fa fa-angle-right ml-2"></i></button>
							</form>
						</div>
					</div>

				}
				else
				{
					<div class="leave-comment-area clearfix">
						<div class="comment-form">
							<div class="gazette-heading">
								<h4 class="font-bold">leave a comment</h4>
								<h5 class="mb-5 text-danger">Please <a asp-controller="Auth" asp-action="Login" class="btn btn-primary">Login</a> to leave a comment</h5>
							</div>
							<!-- Comment Form -->
							<form asp-action="Detail" asp-controller="News" asp-route-id="@Model.NewsDto.News.Id" id="form-comment-add" method="post" class="disabled">
								<div asp-validation-summary="ModelOnly" class="text-danger" id="validation-summary"></div>


								<input asp-for="@Model.NewsDto.News.Id" type="hidden" />
								<input asp-for="@Model.NewsComments.UserId" type="hidden" />
								<div class="form-group">
									<input type="text" class="form-control" asp-for="@Model.NewsComments.Name" placeholder="Enter Your Full Name" disabled>
									<span asp-validation-for="@Model.NewsComments.Name" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="email" class="form-control" asp-for="@Model.NewsComments.Email" placeholder="Email" disabled>
									<span asp-validation-for="@Model.NewsComments.Email" class="text-danger"></span>

								</div>
								<div class="form-group">
									<textarea class="form-control" asp-for="@Model.NewsComments.Comment" cols="30" rows="10" placeholder="Message" disabled></textarea>
									<span asp-validation-for="@Model.NewsComments.Comment" class="text-danger"></span>

								</div>
								<button type="submit" id="btnSave" class="btn leave-comment-btn" disabled>SUBMIT <i class="fa fa-angle-right ml-2"></i></button>
							</form>
						</div>
					</div>
				}
				<!-- Leave A Comment -->
			</div>
		</div>
	</div>
</section>

@section Scripts{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
