@using App.Shared.Utilities.Results.Abstract;
@model App.Entities.Concrete.Page
@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Sayfa Düzenle</h1>

<hr />
<div class="row">
    <div class="col-md-4 offset-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />        
            <div class="form-group">
                <label asp-for="@Model.Title" class="control-label">Başlık</label>
                <input asp-for="@Model.Title" class="form-control" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Content" class="control-label">İçerik</label>
                <textarea asp-for="@Model.Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="@Model.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Content_One" class="control-label">İçerik</label>
                <textarea asp-for="@Model.Content_One" class="form-control" rows="5"></textarea>
                <span asp-validation-for="@Model.Content_One" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="@Model.Content_Two" class="control-label">İçerik</label>
                <textarea asp-for="@Model.Content_Two" class="form-control" rows="5"></textarea>
                <span asp-validation-for="@Model.Content_One" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="@Model.UpdatedAt" class="control-label">Güncellenme Tarihi</label>
                <input asp-for="@Model.UpdatedAt" class="form-control" />
                <span asp-validation-for="@Model.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.IsDeleted" /> Silindi Mi?
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.IsActive" /> Aktif Mi?
                </label>
            </div>

            <div class="form-group">

                 <a class="btn btn-danger" asp-action="Index">İptal</a>
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



