@using App.Shared.Utilities.Results.Abstract;
@model App.Entities.Concrete.Contact
@{
    ViewData["Title"] = "Edit";
}

<h1>Düzenle</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />
            @*   <div class="form-group">
            <label asp-for="@Model.News.UserId" class="control-label"></label>
            <select asp-for="@Model.News.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            <span asp-validation-for="@Model.News.UserId" class="text-danger"></span>
            </div>*@
            <input type="hidden" asp-for="@Model.Name" />
            <input type="hidden" asp-for="@Model.Email" />
            <input type="hidden" asp-for="@Model.Message" />
            <div class="form-group form-check">
                <label asp-for="IsActive" class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.IsActive" /> Aktif Mi?
                </label>
            </div>

            <div class="form-group">

                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>




