@model RoleListDto
@{
	ViewBag.Title = "Roller";
}
<ol class="breadcrumb mb-3 mt-2">
	<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
	<li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Role" asp-action="Index">Role</a></li>
</ol>
<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mt-2">
	<div class="card-header">
		<i class="fas fa-table mr-1"></i>
		Roller
	</div>
	<div class="card-body">

		<div class="table-responsive">
			<div>
				<a asp-controller="Role" asp-action="Create" class="btn btn-success">Rol Ekle</a>
			</div>

			<table class="table table-bordered display" id="rolesTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Adı</th>
						<th>İşlemler</th>
					</tr>
				</thead>

				<tbody>
					@foreach (var item in Model.Roles)
					{
						<tr name="@item.Id">
							<td>@item.Id</td>
							<td>@item.Name</td>
							<td class="text-center">
								<a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="Role" asp-action="Edit" asp-route-roleId="@item.Id"><span class="fas fa-edit"></span></a>
								<a class="btn btn-danger btn-sm" asp-area="Admin" asp-controller="Role" asp-action="Delete" asp-route-roleId="@item.Id"><span class="fas fa-minus-circle"></span></a>
							</td>
						</tr>
					}
				</tbody>
				<tfoot>
					<tr>
						<th>ID</th>
						<th>Adı</th>
						<th>İşlemler</th>
					</tr>
				</tfoot>
			</table>

		</div>
	</div>
</div>

@section Scripts{
	<script src="~/admintema/js/roleIndex.js" type="text/javascript"></script>
}
