@model NewsListDto
<section class="main-content-wrapper section_padding_100">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-9">
				<!-- Gazette Welcome Post -->
				<div class="gazette-welcome-post">
					<!-- Post Tag -->
					@foreach (var item in Model.News.ToList().Take(1))
					{

						<div class="gazette-post-tag">
							<a asp-action="Index" asp-controller="Category" asp-route-categoryId="@item.CategoryId">@item.Category.Name</a>
						</div>
						<h2 class="font-pt">@item.Title</h2>
						<p class="gazette-post-date">@item.CreatedAt</p>
						<!-- Post Thumbnail -->
						<div class="blog-post-thumbnail my-5">
							<img class="img-fluid" src="~/img/news/@item.ImagePath" alt="@item.ImagePath width:1200px;height:800px">
						</div>
						<!-- Post Excerpt -->
						<p>@(item.SubTitle.ToString().Length > 300 ? item.SubTitle.ToString().Substring(0, 300) + "..." : item.SubTitle) </p>
						<!-- Reading More -->
					
						<div class="post-continue-reading-share d-sm-flex align-items-center justify-content-between mt-30">
							<div class="post-continue-btn">
								<a href="News/Details/@Url.FriendlyUrl(item.Title)/@item.Id" class="font-pt">Continue Reading <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
							</div>
							@*<div class="post-share-btn-group">
								<a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</div>*@
						</div>
					}
				</div>

				<div class="gazette-todays-post section_padding_100_50 ">
					<div class="gazette-heading">
						<h4>today’s most popular</h4>
					</div>
					@foreach (var item in Model.News.OrderByDescending(t => t.CreatedAt).Skip(30).Take(2).ToList())
					{

						<!-- Single Today Post -->

						<div class="gazette-single-todays-post d-md-flex align-items-start mb-50 ">
							<div class="todays-post-thumb">

								<img src="~/img/news/@item.ImagePath" style="height:100% ;width:100%" alt="">
							</div>

							<div class="todays-post-content">
								<!-- Post Tag -->
								<div class="gazette-post-tag">
									<a asp-action="Index" asp-controller="Category" asp-route-categoryId="@item.CategoryId">@item.Category.Name</a>
								</div>
								<h3><a href="News/Details/@Url.FriendlyUrl(item.Title)/@item.Id" class="font-pt">@item.Title</a></h3>
								
								<span>@item.CreatedAt.GetValueOrDefault().ToShortDateString()</span>

								<p>@item.SubTitle</p>
							</div>
						</div>
					}
				</div>
			</div>


			<div class="col-12 col-lg-3 col-md-6">
				<div class="sidebar-area">
					<!-- Breaking News Widget -->
					<div class="breaking-news-widget">
						<div class="widget-title">
							<h5>breaking news</h5>
						</div>
						@foreach (var item in Model.News.OrderByDescending(t => t.CreatedAt).Skip(36).Take(2).ToList())
						{
							<!-- Single Breaking News Widget -->
							<div class="single-breaking-news-widget">

								<a href="/@Url.FriendlyUrl(item.Title)/@item.Id"><img src="~/img/news/@item.ImagePath" style="height:100% ;width:100%" alt=""></a>
								<div class="breakingnews-title">
									<a asp-action="Index" asp-controller="Category" asp-route-categoryId="@item.CategoryId"><p>@item.Category.Name</p></a>
								</div>
								<div class="breaking-news-heading gradient-background-overlay">
									<a href="News/Details/@Url.FriendlyUrl(item.Title)/@item.Id" class="font-pt"><h5>@item.Title</h5></a>
									
								</div>
							</div>
							<!-- Single Breaking News Widget -->
						}


					</div>

					<!-- Don't Miss Widget -->
					<div class="donnot-miss-widget">
						<div class="widget-title">
							<h5>Don't miss</h5>
						</div>
						@foreach (var item in Model.News.OrderByDescending(t => t.CreatedAt).Skip(14).Take(3).ToList())
						{
							<div class="single-dont-miss-post d-flex mb-30">
								<div class="dont-miss-post-thumb">
									<img src="~/img/news/@item.ImagePath" style="height:80% ;width:100%" alt="">
								</div>
								<div class="dont-miss-post-content">
									<a href="News/Details/@Url.FriendlyUrl(item.Title)/@item.Id" class="font-pt"><h5>@item.Title</h5></a>
									<span>@item.CreatedAt.GetValueOrDefault().ToShortDateString()</span>
								</div>
							</div>
						}
						<!-- Single Don't Miss Post -->
						
					</div>
					<!-- Advert Widget -->
					<div class="advert-widget">
						<div class="widget-title">
							<h5>Advert</h5>
						</div>
						<div class="advert-thumb mb-30">
							<a href="https://www.mediamarkt.com.tr/tr/product/_saeco-sm6585-00-granaroma-tam-otomatik-espresso-makinesi-siyah-1226566.html?waw_keyword=saeco"><img src="~/img//reklam1.jpg" alt="header-add"></a>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</div>
	<!-- Main Content Area End -->

</section>